# Network settings
ECHO_SCHEME=http
ECHO_PORT=1323
ECHO_CERT_FILE=server.crt
ECHO_KEY_FILE=server.key

# Printer settings
PRINTER_DEVICE=/dev/usb/lp0
# PRINTER_ENCODING examples: shift-jis (default), utf-8, cp932
PRINTER_ENCODING=cp932
PRINTER_ENABLE_KANJI=true
PRINTER_KANJI_CODE_SYSTEM=1
# Example: 17 = CP858, consult printer manual
PRINTER_CODE_PAGE=17

# QR settings
# Level L:  7% error recovery.
# Level M: 15% error recovery. Good default choice.
# Level Q: 25% error recovery.
# Level H: 30% error recovery.
ERROR_CORRECTION_LEVEL=L
