# Network settings
ECHO_SCHEME=http
ECHO_PORT=1323
ECHO_CERT_FILE=server.crt
ECHO_KEY_FILE=server.key

# Printer settings
PRINTER_DEVICE=/dev/usb/lp0
PRINTER_ENCODING=shift-jis
PRINTER_ENABLE_KANJI=true
PRINTER_KANJI_CODE_SYSTEM=1
# Example: 17 = CP858, consult printer manual
PRINTER_CODE_PAGE=
